html,
body {
  height: 230px;
  width: 125px;
  margin: 0;
  background-color: #F1F1F1;
}

#ua-choice {
  width: 95px;
  padding-top: 5px;
}

.ua-choices {
  height: 120px;
  width: 120px;
  margin: 0;
  margin-bottom: 10px;
}

.ua-choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ua-choice,
.domain-choice {
  height: 20%;
  margin: 0.2em;
  padding: 0.2em;
  cursor: pointer;
  background-color: #F1F1F1;
}

input {
  margin: 10px;
}

.ua-choice:hover {
  background-color: grey;
}